VICSApp/CoreSystem/Brokery/SBSCore/Web References/HoseGateway/Gateway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://vics.com.vn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://vics.com.vn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://vics.com.vn/">
      <s:element name="GetListForCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stockcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderside" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListForCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListForCancelResult" type="tns:ArrayOfHoseMsgOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHoseMsgOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HoseMsgOrder" nillable="true" type="tns:HoseMsgOrder" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HoseMsgOrder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ORDER_NUMBER" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="canceledBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDayCancelList">
        <s:complexType />
      </s:element>
      <s:element name="GetDayCancelListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDayCancelListResult" type="tns:ArrayOfHoseMsgOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentSession">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckStockHalt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stockCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckStockHaltResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckStockHaltResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListForCancelSoapIn">
    <wsdl:part name="parameters" element="tns:GetListForCancel" />
  </wsdl:message>
  <wsdl:message name="GetListForCancelSoapOut">
    <wsdl:part name="parameters" element="tns:GetListForCancelResponse" />
  </wsdl:message>
  <wsdl:message name="CancelOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CancelOrder" />
  </wsdl:message>
  <wsdl:message name="CancelOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CancelOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetDayCancelListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDayCancelList" />
  </wsdl:message>
  <wsdl:message name="GetDayCancelListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDayCancelListResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentSession" />
  </wsdl:message>
  <wsdl:message name="GetCurrentSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentSessionResponse" />
  </wsdl:message>
  <wsdl:message name="CheckStockHaltSoapIn">
    <wsdl:part name="parameters" element="tns:CheckStockHalt" />
  </wsdl:message>
  <wsdl:message name="CheckStockHaltSoapOut">
    <wsdl:part name="parameters" element="tns:CheckStockHaltResponse" />
  </wsdl:message>
  <wsdl:portType name="GatewaySoap">
    <wsdl:operation name="GetListForCancel">
      <wsdl:input message="tns:GetListForCancelSoapIn" />
      <wsdl:output message="tns:GetListForCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <wsdl:input message="tns:CancelOrderSoapIn" />
      <wsdl:output message="tns:CancelOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDayCancelList">
      <wsdl:input message="tns:GetDayCancelListSoapIn" />
      <wsdl:output message="tns:GetDayCancelListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSession">
      <wsdl:input message="tns:GetCurrentSessionSoapIn" />
      <wsdl:output message="tns:GetCurrentSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckStockHalt">
      <wsdl:input message="tns:CheckStockHaltSoapIn" />
      <wsdl:output message="tns:CheckStockHaltSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GatewaySoap" type="tns:GatewaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListForCancel">
      <soap:operation soapAction="http://vics.com.vn/GetListForCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap:operation soapAction="http://vics.com.vn/CancelOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayCancelList">
      <soap:operation soapAction="http://vics.com.vn/GetDayCancelList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSession">
      <soap:operation soapAction="http://vics.com.vn/GetCurrentSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStockHalt">
      <soap:operation soapAction="http://vics.com.vn/CheckStockHalt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GatewaySoap12" type="tns:GatewaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListForCancel">
      <soap12:operation soapAction="http://vics.com.vn/GetListForCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap12:operation soapAction="http://vics.com.vn/CancelOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayCancelList">
      <soap12:operation soapAction="http://vics.com.vn/GetDayCancelList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSession">
      <soap12:operation soapAction="http://vics.com.vn/GetCurrentSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStockHalt">
      <soap12:operation soapAction="http://vics.com.vn/CheckStockHalt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Gateway">
    <wsdl:port name="GatewaySoap" binding="tns:GatewaySoap">
      <soap:address location="http://localhost/HoseWebService/Gateway.asmx" />
    </wsdl:port>
    <wsdl:port name="GatewaySoap12" binding="tns:GatewaySoap12">
      <soap12:address location="http://localhost/HoseWebService/Gateway.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>