VICSApp/CoreSystem/Brokery/SBSCore/Web References/HnxGateway/Gateway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.vics.com.vn" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.vics.com.vn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.vics.com.vn">
      <s:element name="GetTradingSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="boardCodeList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTradingSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTradingSessionResult" type="tns:HnxTradingSession" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HnxTradingSession">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TradingSessionMode" type="tns:TradingSessionMode" />
          <s:element minOccurs="1" maxOccurs="1" name="TradingSessionStatus" type="tns:TradingSessionStatus" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TradingSessionMode">
        <s:restriction base="s:string">
          <s:enumeration value="NONE" />
          <s:enumeration value="OPEN" />
          <s:enumeration value="CONT" />
          <s:enumeration value="CLOSE" />
          <s:enumeration value="PCCLOSE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="TradingSessionStatus">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Normal" />
          <s:enumeration value="Pending" />
          <s:enumeration value="RamdomEnd" />
          <s:enumeration value="CbPending" />
          <s:enumeration value="AfterCb" />
          <s:enumeration value="Prolong" />
          <s:enumeration value="EndDay" />
          <s:enumeration value="Waiting" />
          <s:enumeration value="Closed" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetListForCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stockCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderside" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListForCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListForCancelResult" type="tns:ArrayOfHnxMsgOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHnxMsgOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HnxMsgOrder" nillable="true" type="tns:HnxMsgOrder" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HnxMsgOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClOrdID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModiPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ModiVolume" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ModiIoVolume" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="canceledBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDayCanceledList">
        <s:complexType />
      </s:element>
      <s:element name="GetDayCanceledListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDayCanceledListResult" type="tns:ArrayOfHnxMsgOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDayModifiedList">
        <s:complexType />
      </s:element>
      <s:element name="GetDayModifiedListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDayModifiedListResult" type="tns:ArrayOfHnxMsgOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="oldVolume" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="newPrice" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="newVolume" nillable="true" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="newStopPrice" nillable="true" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="newIcebergVolume" nillable="true" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyOrderResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTradingSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetTradingSession" />
  </wsdl:message>
  <wsdl:message name="GetTradingSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetTradingSessionResponse" />
  </wsdl:message>
  <wsdl:message name="GetListForCancelSoapIn">
    <wsdl:part name="parameters" element="tns:GetListForCancel" />
  </wsdl:message>
  <wsdl:message name="GetListForCancelSoapOut">
    <wsdl:part name="parameters" element="tns:GetListForCancelResponse" />
  </wsdl:message>
  <wsdl:message name="CancelOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CancelOrder" />
  </wsdl:message>
  <wsdl:message name="CancelOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CancelOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetDayCanceledListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDayCanceledList" />
  </wsdl:message>
  <wsdl:message name="GetDayCanceledListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDayCanceledListResponse" />
  </wsdl:message>
  <wsdl:message name="GetDayModifiedListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDayModifiedList" />
  </wsdl:message>
  <wsdl:message name="GetDayModifiedListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDayModifiedListResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyOrderSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyOrder" />
  </wsdl:message>
  <wsdl:message name="ModifyOrderSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="GatewaySoap">
    <wsdl:operation name="GetTradingSession">
      <wsdl:input message="tns:GetTradingSessionSoapIn" />
      <wsdl:output message="tns:GetTradingSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListForCancel">
      <wsdl:input message="tns:GetListForCancelSoapIn" />
      <wsdl:output message="tns:GetListForCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <wsdl:input message="tns:CancelOrderSoapIn" />
      <wsdl:output message="tns:CancelOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDayCanceledList">
      <wsdl:input message="tns:GetDayCanceledListSoapIn" />
      <wsdl:output message="tns:GetDayCanceledListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDayModifiedList">
      <wsdl:input message="tns:GetDayModifiedListSoapIn" />
      <wsdl:output message="tns:GetDayModifiedListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyOrder">
      <wsdl:input message="tns:ModifyOrderSoapIn" />
      <wsdl:output message="tns:ModifyOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GatewaySoap" type="tns:GatewaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTradingSession">
      <soap:operation soapAction="http://www.vics.com.vn/GetTradingSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListForCancel">
      <soap:operation soapAction="http://www.vics.com.vn/GetListForCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap:operation soapAction="http://www.vics.com.vn/CancelOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayCanceledList">
      <soap:operation soapAction="http://www.vics.com.vn/GetDayCanceledList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayModifiedList">
      <soap:operation soapAction="http://www.vics.com.vn/GetDayModifiedList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyOrder">
      <soap:operation soapAction="http://www.vics.com.vn/ModifyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GatewaySoap12" type="tns:GatewaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTradingSession">
      <soap12:operation soapAction="http://www.vics.com.vn/GetTradingSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListForCancel">
      <soap12:operation soapAction="http://www.vics.com.vn/GetListForCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap12:operation soapAction="http://www.vics.com.vn/CancelOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayCanceledList">
      <soap12:operation soapAction="http://www.vics.com.vn/GetDayCanceledList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayModifiedList">
      <soap12:operation soapAction="http://www.vics.com.vn/GetDayModifiedList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyOrder">
      <soap12:operation soapAction="http://www.vics.com.vn/ModifyOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Gateway">
    <wsdl:port name="GatewaySoap" binding="tns:GatewaySoap">
      <soap:address location="http://test.vics.com.vn:8080/hnx.net4.v1/Gateway.asmx" />
    </wsdl:port>
    <wsdl:port name="GatewaySoap12" binding="tns:GatewaySoap12">
      <soap12:address location="http://test.vics.com.vn:8080/hnx.net4.v1/Gateway.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>